# Assignment 3

### Write a function to count the number 4 in a given list.

In [ ]:
def Count4 (list1):
  c=0;
  for i in list1:
    if i==4:
      c+=1
  return c

list1=[4,4,5,4,4,4,7]
print(Count4(list1))

5

### write a  function to check whether a number is divisible by another number.

In [ ]:
def CheckDivisible(num1,num2):
  if num1 % num2 ==0:
    return True
  else:
    return False

CheckDivisible(5,2)

False

### write a function to find the maximum and minimum numbers from a sequence of numbers.

In [ ]:
def MaxAndMin(*numbers):
  min=100000
  max=0
  for i in numbers:
    if i< min:
      min =i
    elif i>max:
      max=i

  print(max,"is maximum number")
  print(min,"is minimum number")

MaxAndMin(1,2,3,4,5,6,7,8)

8 is maximum number
1 is minimum number

### Write a Python function that takes two lists and returns True if they have at least one common member.

In [ ]:
def CommonMember(list1,list2):
  count=0
  for i in list1:
    for j in list2:
      if i==j:
        count+=1
  if count>0:
    return True
  else:
    return False


list1=[1,2,3,4,5]
list2=[5,6,7,8,9]
CommonMember(list1,list2)

True

### Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number from the user

In [19]:
def factorial(num):
  if num==1:
    return 1;
  else:
    return num*factorial(num-1)

x=input("enter a positive number:")
num=int(x)
while(num<0):
  x=input("Error! Enter a positive number:")
  num=int(x)

print(factorial(num))

enter a positive number:-4
Error! Enter a positive number:-4
Error! Enter a positive number:4
24

### Write a Python function to check whether a number is in a given range.

### The range is from 3 to 11

In [22]:
def CheckRange(num,Range):
  if num in Range:
    return True
  else:
    return False  

Range=range(3,11)
CheckRange(5,Range)

True

### Write a  program to create the multiplication table (from 1 to 10) of a number.

In [4]:
x=input("enter the number:")
num=int(x)
print("That is the multiplication table of:"," ",num)
for i in range(1,11):
  result=i*num
  print(result)

enter the number:2
That is the multiplication table of:   2
2
4
6
8
10
12
14
16
18
20

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [12]:
def lesser_of_two_evens(n1,n2):
  if n1%2==0 and n2%2==0:
    if n1<n2:
      return n1
    elif n1>n2:
      return n2
  else:
    if n1>n2:
      return n1
    elif n2>n1:
      return n2

print(lesser_of_two_evens(2,4))
print(lesser_of_two_evens(2,5))

2
5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [16]:
def animal_crackers (st):
  list1=st.split()
  if list1[0][0]==list1[1][0]:
      return True
  else:
      return False

print(animal_crackers('Levelheaded Llama'))  
print(animal_crackers('Crazy Kangaroo'))

True
False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [20]:
def makes_twenty(n1,n2):
  if n1==20 or n2==20 or n1+n2==20:
    return True
  else:
    return False

print(makes_twenty(20,10))
print(makes_twenty(12,8))
print(makes_twenty(2,3))

True
True
False

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [21]:
def almost_there(n):
  if (n>=90 and n<=110)or (n>=190 and n<=210):
    return True
  else: 
    return False  

print(almost_there(90))
print(almost_there(104))
print(almost_there(150))
print(almost_there(209))

True
True
False
True

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum  exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [24]:
def blackjack(n1,n2,n3):
  sum=n1+n2+n3
  if sum<=21:
    return sum
  elif sum>21 and (n1==11 or n2==11 or n3==11):
    sum -= 10
    return sum
  else:
    return 'BUST'

print(blackjack(5,6,7))  
print(blackjack(9,9,9)) 
print(blackjack(9,9,11))

18
BUST
19